/* YOUR STYLING HERE */
.PlaylistCollection {
  background-color: $light-grey;
  height: 200px;
  border-style: solid;
  border-color: $grey;
  padding: 0;
}

.SongList {
  background-color: $light-grey;
  height: 200px;
  border-style: solid;
  border-color: $grey;
}

.SelectedSong {
  background-color: $light-grey;
  height: 200px;
  border-style: solid;
  border-color: $grey;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0px;
}

.selected {
  background-color: $yellow;
  width: 100%
}

div {
  color: $blue;
}
