.turn_red {
  color: #E2264D;
}

.turn_green {
  color: #19CF86;
}

.icon_color {
  color: #AAB8C2;
}

li {
  list-style-type: none;
  border-bottom: 1px solid #AAB8C2;
  padding: 10px;
}

.profile_pic {
  display: inline-block;
  margin-right: 10px;
}

i {
  margin-right: 30px;
}

.user_name {
  font-weight: bold;
}
